[submodule "services/map"]
	path = services/map
	url = git@github.com:sergedbs/map.git
[submodule "services/monster-raid"]
	path = services/monster-raid
	url = git@github.com:sergedbs/monster-raid.git
[submodule "services/tamagotchi"]
	path = services/tamagotchi
	url = https://github.com/victoriaaa111/tamagotchi.git
[submodule "services/notifications"]
	path = services/notifications
	url = https://github.com/victoriaaa111/notifications.git
[submodule "services/guild"]
	path = services/guild
	url = https://github.com/MihaelaCatan04/guild-service.git
[submodule "services/package-registry"]
	path = services/package-registry
	url = https://github.com/MihaelaCatan04/package-registry-service.git
[submodule "services/user-management"]
	path = services/user-management
	url = https://github.com/PatriciaMoraru/user-management.git
[submodule "services/battle"]
	path = services/battle
	url = https://github.com/PatriciaMoraru/battle.git
